$light-pink: #f5f5f5;
$text-color: #312821;
$padding-heigh: 5%;
$padding-width: 10%;

body {
    font-family: Lato;
}

#banner {
    min-height: 80vh;
    background-image: url(src/banner-bg.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding-heigh $padding-width;
    
    .logos {
        display: flex;
        flex-direction: row;
        max-width: 50vw;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem;
        
        img {
            max-width: 150px;
        }
    }

    .conteudo {
        font-weight: 100;
        text-align: justify;
        line-height: 1.7rem;

        .fachada {
            max-width: 30vw;
        }
        * {
            overflow: visible;
        }

        .button {
            color: #252525;
            background-color: #e7bf91;
            border: none;
            border-radius: 30px;
            padding: 1rem 3rem;
            font-size: 1.2rem;
            margin-top: 5rem;
            font-weight: bold;
        }
    }
}

#servicos {
    background: $light-pink;
    padding: $padding-heigh 15%;

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 6rem;
        }
        .info {
            color: $text-color;
            text-align: center;
            padding-top: 1rem;
            width: 10rem;
        }
    }
}

#precos {
    background-color: #f5f5f5;
    color: $text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding-heigh $padding-width;

    .titulo {
        font-size: 2rem;
        margin-bottom: 3rem;
        text-align: left;
        font-family: "AddingtonCF";
    }
    table {
        width: 60vw;
        vertical-align: middle;
        margin-bottom: 3rem;
        font-style: italic;
        
        tr {
            height: 2rem;
        }
        td {
            padding: 0.4rem;
            border: none;
            vertical-align: middle;
        }
    }
    tr:nth-child(even) {background: #b6948b}
    tr:nth-child(odd) {background: #e3d2cd}
}

#planos {
    padding: $padding-heigh $padding-width;
    font-family: 'Lato';
    background-color: $light-pink;

    .col-md-3.col-12.item{
        height: fit-content;
        
    }

    .item {
        background: #e3d2cd;
        border-radius: 20px;
        padding: 1rem 0.5rem;
        margin: 1rem;
        padding-bottom: 2.3rem;
    }

    ul {
        font-size: small;
        font-family: 'Lato';
        margin-left: -28px;
        list-style: none;
    }

    .descricao {
        font-size: 0.5rem;
    }

    .row.justify-content-md-between{
        margin-top: 30px;
    }

    .planos-vacina-title-primary h2{
        text-align: center;
        color: #312821;
        font-family: 'Lato';
        font-size: 30px;
        font-weight: 900;
        font-style: italic;
        margin-top: 10px;

    }
            
    .title-plano-1{
        text-align: center;
        font-size: 16px;
        font-family: 'Lato';
        font-weight: bolder;
        font-style: italic;
        margin-right: 5rem;
    }
            
    .legenda-1{
        font-family: 'Myriad Pro';
        font-size: x-small;
        text-align: center;
        margin-top: -8px;
        margin-right: 0.4rem;
    }
      
    .title-plano-2{
       text-align: center;
       font-size: 16px;
       font-family: 'Lato';
       font-weight: bolder;
       font-style: italic;
       margin-right: 4rem;
    }
            
    .legenda-2{
        margin-top: -8px;
        font-family: 'Myriad Pro';
        font-size: x-small;
        text-align: center;
    }
            
    .title-plano-3{
        text-align: center;
        font-size: 16px;
        font-family: 'Lato';
        font-weight: bolder;
        font-style: italic;
    }
            
    .legenda-3{
        margin-top: -8px;
        font-family: 'Myriad Pro';
        font-size: x-small;
        text-align: center;
        margin-right: 2.9rem;
    }

    .list-title{
        font-family: 'Lato';
        font-weight: bolder;
        font-style: italic;
        font-size: medium;
        margin-left: 0px;
    }

    a{
        border-radius: 30px;
        background-color: #483b32;
        color: #f5f5f5;
        border-style: none;
        margin-left: 15px;
        margin: 1rem;
        font-family:'Lato';
        font-style: italic;
        font-weight: bolder;
        font-size: 0.8rem;
        padding: 1rem 0.8rem;
        text-align: center;
        text-decoration: none;
    }
}

#clinique {
    background-color: $light-pink;
    padding: $padding-heigh $padding-width;
    display: flex;
    align-items: center;
    img {
        max-width: 80%;
    }


    .col-md-6{
        margin-left: -3rem;

        h3{
            font-family: 'Lato';
            font-weight: bold;
            color: #312821;
            margin: auto;
            margin-bottom: 1.9rem;
        }

        p{
            color: #938e8b;
            font-family: 'Lato';
            font-weight: lighter;
        }
    }    
}

#contato {
    padding: $padding-heigh $padding-width;
    background-image: url(/enjoybotox/src/bg-contato.jpg);
    background-position: center;
    background-size: cover;
    color: #e3d2cd;


    .map {
        -webkit-clip-path: circle(30%);
        clip-path: circle(30%);
        filter: hue-rotate(180deg);
        -webkit-filter: hue-rotate(180deg);
        -moz-filter: hue-rotate(180deg);
    }

    p {
        overflow-x: visible;
        overflow-y: visible;
        margin-left: 5rem;
        font-family: 'Lato';
        font-size: smaller;
        color: #312821;
    }

    a {
        color: #312821;
    }

    .button {
        color: #252525;
        font-size: 0.8rem;
        background-color: #e3d2cd;
        border: none;
        border-radius: 30px;
        padding: 1rem 2rem;
        font-weight: bold;
    }
}

#footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background: #b6958b;
    height: 2rem;

    img {
        height: 1rem;
        margin: auto;
    }
}